<p>
  <strong>Commenter:</strong>
  <%= comment.user.email %>
</p>
<p>
  <strong>Body:</strong>
  <%= simple_format(comment.body) %>
</p>

<% if comment.user == current_user || current_user&.admin? %>
  <%= link_to 'Destroy', article_comment_path(article_id: comment.article.id, id: comment.id), method: :delete, data: { confirm: 'Are you sure?' } %>
<% end %>
<hr />